body {
    font-family: Arial, sans-serif;
    width: 250px;
    padding: 10px;
    background-color: #f4f4f9;
}

.container {
    text-align: center;
}

h1 {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
}

.control-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

#statusText {
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#viewDataBtn {
    background-color: #008CBA;
}

#viewDataBtn:hover {
    background-color: #007B9E;
}


/* The switch - https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}